<div class="row">
	<div class="col-md-6">
		<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
	</div>

	<div class="col-md-6">
		<div clas="book-info">
			<h2 class="book-title"><%= @book.title %></h2>
			<h3 class="book-author"><%= @book.author %></h3>
			<div class="average-review-rating" data-score="<%= @average_review %>"></div>
			<span class="number-of-reviews">Based on <%= @book.reviews.count %></span>
			<p class="book-desc"><%= @book.description %></p>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-4">
		<div class="reviews">
			<h1>Reviews</h1>
			<%= render @book.reviews %>
			<%= link_to "Add Review", new_book_review_path(@book), class: "btn btn-custom" %>
		</div>
	<div>
</div>
<div style="padding-top:10px; padding-bottom:50px;">
<%= link_to "Back", root_path, class: "btn btn-custom btn-custom-2" %>
<% if user_signed_in?%>
	<% if @book.user_id == current_user.id %>
		<%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom btn-custom-2"  %>
		<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "are you sure?" }, class: "btn btn-custom btn-custom-2"  %>
	<% end %>
<% end %>
</div>
<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function(){
			return $(this).attr('data-score')
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		score: function(){
			return $(this).attr('data-score')
		},
		path: '/assets/'		
	});
</script>